name: Build

on:
  push:
    branches:
      - main
      - 2201.[0-9]+.x
  repository_dispatch:
    types: check_connector_for_breaking_changes

jobs:
  call_workflow:
    name: Run Build Workflow
    if: ${{ github.repository_owner == 'ballerina-platform' }}
    uses: ballerina-platform/ballerina-library/.github/workflows/build-timestamp-master-template.yml@main
    secrets: inherit
