name: Daily build

on:
  schedule:
    - cron: "30 2 * * *"

jobs:
  build:
    name: Daily Build
    runs-on: ubuntu-22.04
    if: ${{ github.repository_owner == 'ballerina-platform' }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set ENV Variables
        run: |
          echo "packageUser=${{ secrets.BALLERINA_BOT_USERNAME }}" >> $GITHUB_ENV
          echo "packagePAT=${{ secrets.BALLERINA_BOT_TOKEN }}" >> $GITHUB_ENV

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21.0.3'

      - name: Set up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.3
        with:
          version: 2201.13.1

      - name: Build the Package
        run: ./gradlew build -x test

      - name: Run Tests
        run: ./gradlew test

      - name: Notify Build Failure
        if: ${{ failure() }}
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.BALLERINA_BOT_TOKEN }}" \
            https://api.github.com/repos/ballerina-platform/ballerina-release/dispatches \
            -d '{"event_type": "notify-build-failure", "client_payload": {"repoName": "module-ballerinax-wso2.apim.catalog"}}'
